*.o
obj
tmp
run
src/container/list.h
.vscode/settings.json
/source
*.d
src/img/DialogFrame.kra
src/img/DialogButtonNoRelease.png~
*~
*.kra
*.png~
sfsdffds.jpg
pika.png
*.zip
Plugins/PosterizeFilter/_log.txt
*.txt